@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    background: #FFE6E6;
    font-family: Arial, sans-serif;
}


h1{
    color: #003325;
    font-size: calc(3em + 3vw);
    justify-content:center;
    display: flex;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.images{
  border-radius: 25px;
}

/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #FFE6E6;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position the next button to the right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* add background to next right buttons for visibility */
.prev, .next{
  background-color: #003325;
}

/* on hover, add a black background with a slight see-through */
.prev:hover, .next:hover{
  background-color: #669999;
}

/* caption text */
.captiontext{
  color: #FFE6E6;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #003325;
  border-radius: 25px;
}

/* number text */
.numbertext{
  color: #FFE6E6;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #003325;
  border-radius: 25px;
}

/* dots indicators */
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #669999;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #003325
}

.dotContainer{
  display: flex;
  justify-content: center;
}

/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4;}
  to {opacity: 1;}
}

@keyframes fade{
  from {opacity: .4;}
  to {opacity: 1;}
}

/* on smaller screens, decrease text size */
@media only screen and (max-width: 300px){
  .prev, .next, .captiontext {font-size: 11px;}
}

/* background blur on caption text */
