@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body{
    background: rgb(230,242,255);
    background: linear-gradient(90deg, rgba(230,242,255,1) 32%, rgba(102,153,153,1) 85%, rgba(0,102,77,1) 100%);
    font-family: 'Open Sans', sans-serif;
}

h1{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    font-size: 4em;
}