@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body{
    /* background: rgb(230,242,255);
    background: linear-gradient(90deg, rgba(230,242,255,1) 32%, rgba(102,153,153,1) 85%, rgba(0,102,77,1) 100%); */
    background: #FFE6E6;
    font-family: Arial, sans-serif;
}

nav{
    background-color: #FFE6E6;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
}

nav.active{
    width: 350px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.active ul{
    width: 100%
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 0;
    background-color: #FFE6E6;
}

.icon{
    background-color: #FFE6E6;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus{
    outline: 0;
}

.icon .line{
    background-color: black;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2{
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);
}

 h1{
        color: #003325;
        font-size: calc(3em + 3vw);
        display: flex;
        justify-content:center;
    }

#chooseyourpractice{
    color: #003325;
    font-size: calc(1em + 2vw);
    display:flex;
    justify-content: center;
}

#chairmountainpose, #wallmountainpose, #matmountainpose{
    border-radius: 50%;
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    justify-content: center;
    justify-content: space-evenly;
}

a{
    background-color:#00664d;
    color:#FFE6E6;
    text-align: center;
    text-decoration: none;
    font-size: large;
    display: flex;
    padding: 20px;
    border-radius: 5px;
 
}

.link{
    left: 200px;
    position:relative;
    width: 100px;
    text-align: center;
    bottom: 20%;
    left: 5%;
}

.chair .wall .mat {
    position:relative;
}

a:hover, a:active{
    background-color:#e6f2ff;
    color:#003325;
}
