@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body{
    background: rgb(230,242,255);
    background: linear-gradient(90deg, rgba(230,242,255,1) 32%, rgba(102,153,153,1) 85%, rgba(0,102,77,1) 100%);
    font-family: 'Open Sans', sans-serif;
}


    h1{
        color: #003325;
        font-size: calc(3em + 3vw);
        display: flex;
        justify-content:center;
    }

#chooseyourpractice{
    color: #003325;
    font-size: calc(1em + 2vw);
    display:flex;
    justify-content: center;
}


/* #chooseyourpractice{
    color: #003325;
    right: 15%;
    top: 55%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2em;
} */


/* .circle1 {
    border: 2px solid #003325;
    border-radius: 50%;
    width: 150px;
    height: 150px;
   display:flex;
   position:absolute;
   left: 0;
   right:0;
   margin: auto;
} */



#chairmountainpose{
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 30%;
    opacity: 0.7;
}

#wallmountainpose{
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: 35%;
    right: 10%;
}

#matmountainpose{
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 30%;
    opacity: 0.7;
}